.container_totalValue {
  display: flex;

  width: 100%;
  max-width: 314px;
  padding: 20px;
  justify-content: space-between;
  /* 
  align-items: center;
    justify-content: center; */

  border: solid 1px var(--grey-2);
  border-radius: 4px;
  padding: 10px 5px;
}

.total_price {
  color: var(--color-primary);
  font-weight: 800;
  font-size: 1rem;
  font-family: Nunito;
  font-style: Bold;
  font-size: 16px;
  line-height: 30px;
}

.container_totalValue_descriptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.container_totalValue_descriptions span {
  font-family: Nunito;
  font-style: Bold;
  font-size: 12px;
  line-height: 30px;
}
.container_totalValue_descriptions h3 {
  font-family: Nunito;
  font-style: Bold;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}
