.card_list_container {
  width: 80%;
  /* width: 560px; */
  height: 87px;
  border: none;
  background-color: var(--grey-1);
  border-radius: 4px;
  display: flex;
  list-style: none;
  padding: 25px;
}

.card_list_container div {
  width: 50%;
}
.card_right button {
  background-color: none;
}

.card_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.card_right {
  display: flex;
  gap: 42px;
  justify-content: end;
}

.card_right button {
  background-color: var(--grey-2);
  height: 20px;
  border: none;
}

.title_list {
  font-weight: 800;
  font-size: 16px;
}

.btnTrash {
  cursor: pointer;
}

@media only screen and (min-width: 600) {
  .card_list_container {
    width: 560px;
  }
}
